<!doctype html>
<html lang="en">
  <head>
    <title>Haiti</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  <body>
    <div class="container"><br>
      <h1>Hello, Haiti!</h1>
      <div class="row">
        <div class="col-9">
          <h3>Logs</h3>
          <ul class="list-group">
            {% for line in lines %}
            <li class="list-group-item {{ loop.cycle('', 'list-group-item-secondary') }}">{{ line }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-3 text-center">
          <br>
          <a class="btn btn-success" href="#" role="button">Feed Now &nbsp; <span style="font-size:130%"><span class="ion-fork"></span>&nbsp;<span class="ion-knife"></span></span></a>
          <br><br>
          <a class="btn btn-info" href="/video" role="button">Live Video &nbsp; <span class="ion-ios-videocam" style="font-size:130%"></span></a>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
  </body>
</html>